!!! Strict
%html
  %head
    %title nudge
    %link{:href => '/css/reset.css', :type => 'text/css', :rel => 'stylesheet'}
    %link{:href => '/css/core.css', :type => 'text/css', :rel => 'stylesheet'}
  %body
    %h1 nudge

    - if @sites.empty?
      %p
        There are no sites set up just yet. Feel free to
        %a{:href => '/new'} create one
        though.
    - else
      %h2 Sites
      %ul
        - @sites.each do |site|
          %li
            %a{:href => "/edit/#{site.id}"}= site.name
  
      %p
        %a{:href => '/new'} Add another site
