!!! Strict
%html
  %head
    %title poke
    %link{:href => '/css/reset.css', :type => 'text/css', :rel => 'stylesheet'}
    %link{:href => '/css/form.css', :type => 'text/css', :rel => 'stylesheet'}
    %link{:href => '/css/core.css', :type => 'text/css', :rel => 'stylesheet'}
  %body
    %h1 Nudge: New Site
    
    %form.formtastic{:action => '/create', :method => 'post'}
      %fieldset.inputs
        %ol
          %li.string
            %label{:for => 'name'} Name
            %input{:id => 'name', :name => 'name', :type => 'text'}
            %p.inline-hints The name of the GitHub project.
          %li.string
            %label{:for => 'repo'} Repository
            %input{:id => 'repo', :name => 'repo', :type => 'text'}
            %p.inline-hints The git URL to clone from.
          %li.string
            %label{:for => 'folder'} Folder
            %input{:id => 'folder', :name => 'folder', :type => 'text'}
            %p.inline-hints The directory on the server to deploy to. Nudge will need permissions to this folder to deploy to it. It will try to create the folder if it doesn't already exist.
      %fieldset.buttons
        %ol
          %li.commit
            %input{:name => 'commit', :type => 'submit', :value => 'Create'}
    
    %p
      %a{:href => '/'} Back