html {
  font-size: 100%;
}

body {
  margin: 0 auto;
  width: 600px;
  font-size: 100%;
  font-family: "Optima", sans-serif;
}

html > body {
  font-size: 16px;
}

p, li {
  line-height: 1.5;
}

p, form, ul, ol {
  margin: 1.5em 0;
}

h1 {
  font-size: 2em;
  line-height: 1.5;
  margin-top: 0.75em;
  font-family: "Gill Sans", sans-serif;
}

h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-top: 1em;
}

li {
  margin-left: 1.5em;
  list-style-type: disc;
}

form.formtastic {
  width: 600px;
}

form.formtastic fieldset,
form.formtastic fieldset li {
  width: 100%;
}

form.formtastic fieldset.buttons {
  width: 100%;
  padding: 5px;
}

form.formtastic fieldset.buttons ol {
  padding: 5px;
}

form.formtastic fieldset.buttons li {
  width: 100%;
  border-bottom: none;
  padding-left: 25%;
}

form.formtastic fieldset.inputs label:after {
  content: ':';
}
